# Dependencies
node_modules/

# Build output
build/
dist/
.temp/
.tmp/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*
!.env.example

# Editors/OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Coverage
coverage/

# Cache
.cache/
.eslintcache
vite-cache/

# Misc
*.local
*.swp
*.swo

